@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

$breakpoints: (
    'sp': 'screen and (max-width: 767px)',
    'pc': 'screen and (min-width: 768px)',
) !default;

@mixin media($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

section + section {
  margin-top: 20px;
}
.fadeIn {
  transition: 1s;
  opacity: 0;
  &.animated {
    opacity: 1;
  }
}

.fv {
  width: 100vw;
  &-back-img {
    background: url(../img/image_fx_.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: calc(100vh - 150px);
    background-attachment: fixed;
    @include media(sp) {
      display: none;
    }
  }
  &-sp-img {
    display: none;
    @include media(sp) {
      width: 100%;
      display: block;
    }
  }
  &-catch {
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 30px;
    color: #fff;
    @include media(sp) {
      position: relative;
      top: unset;
      left: unset;
      background: #000;
      text-align: center;
      padding: 10px 4px;
    }
    &-title {
      overflow: hidden;
      transform: translate(-100%, 0);
      transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
      color: #fff;
      text-shadow: 6px 6px 2px #ffffff52;
      font-weight: 700;
    
      span {
        display: block;
        transform: translate(100%, 0);
        transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
      }
    
      &.-visible {
        transform: translate(0, 0);
        span {
          transform: translate(0, 0);
        }
      }
    }
    .sentence {
      overflow: hidden;
      transform: translate(-100%, 0);
      transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
      font-family: "Yu Gothic Medium";
      font-size: 24px;
      text-align: center;
    
      span {
        display: block;
        transform: translate(100%, 0);
        transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
      }
    
      &.-visible {
        transform: translate(0, 0);
        margin-top: 10px;
        span {
          transform: translate(0, 0);
          & + span {
            margin-top: 10px;
          }
        }
      }
    }
  }

  $bg_color:#fafafa;
  $font_color:#333;
  .shutter{
    position:fixed;
    top:150px;
    left:0;
    right:0;
    bottom:0;
    background-color:#1e1e1e;
    z-index:9999;
    animation: byeShutter 2.6s forwards;
    @include media(sp) {
      top: 60px;
    }
    
    &::before{
      content:'';
      position:absolute;
      top:0;
      left:0;
      bottom:0;
      margin:auto;
      background-color:#f3f3f3;
      width:0;
      height:1px;
      animation: shutterOpen 2.6s forwards;
    }
  }

  &-back-img {
    animation: contentScale 2.6s forwards;
  }

  @keyframes byeShutter{
    70%{
      opacity:1;
    }
    100%{
      opacity:0;
      display:none;
      z-index:-1;
    }
  }

  @keyframes shutterOpen{
    0%{
      width:0;
      height:1px;
    }
    50%{
      width:100%;
      height:1px;
    }
    90%{
      width:100%;
      height:100%;
    }
    100%{
      width:100%;
      height:100%;
    }
  }

  @keyframes contentScale{
    70%{
      transform:perspective(800px) scale(0.9) rotateX(15deg);
    }
    100%{
      transform:perspective(800px) scale(1) rotateX(0);
    }
  }
}

.about-us {
  padding: 10px;
  .confetti {
    position: absolute;
    width: 100vw;
    height: 100%;
    max-height: 200px;
  
    > span {
      display: block;
      position: absolute;
      opacity: 0;
  
      > span {
        display: block;
        width: 100%;
        height: 100%;
  
        > span {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  
  @keyframes rotateY {
    0% {
      transform: rotateY(0deg);
    }
  
    100% {
      transform: rotateY(360deg);
    }
  }
  
  @keyframes rotate360 {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  &-contents {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    height: 100px;
    &-job, &-history {
      background-image: url(https://placehold.jp/20/3d4070/ffffff/500x300.png?text=%E4%BA%8B%E6%A5%AD%E7%B4%B9%E4%BB%8B%E7%94%BB%E5%83%8F);
      background-repeat: no-repeat;
      background-size: cover;
      width: calc(50% - 10px);
      & > a {
        display: block;
        width: 100%;
        height: 80px;
        line-height: 80px;
        text-align: center;
        font-size: 30px;
        color: #fff;
        cursor: pointer;
        z-index: 1;
        position: relative;
      }
    }
    &-history {
      background-image: url(https://placehold.jp/20/3e703e/ffffff/500x300.png?text=%E4%BC%9A%E7%A4%BE%E3%81%AE%E6%AD%B4%E5%8F%B2%E7%94%BB%E5%83%8F);
    }
  }
  
}
.office {
  padding: 10px;
  &-contents {
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
    margin-top: 20px;
    &-inner {
      width: 100%;
      height: 100px;
      &-text {
        display: flex;
        align-items: center;
        height: 100px;
      }
    }
  }
}

.section-title {
  font-family: "Outfit", sans-serif;
  font-size: 86px;
  letter-spacing: 1px;
  position: relative;
  width: fit-content;
  line-height: 1.3;
  & > span {
    background: #000;
    color: #fff;
  }
  &::after {
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 4px;
    background: #000000;
    bottom: -1px;               /*アンダーラインがaタグの下端から現れる*/
    transform: scale(0, 1);     /*アンダーラインの縮尺比率。ホバー前はx方向に0*/
    transform-origin: left top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の左端*/
    transition: transform 1.5s; /*変形の時間*/
  }
  &.is-visible {
    &::after {
      transform: scale(1, 1);
    }
  }
}

/** scroll down **/
.scrollDown {
  display: block;
  width: 4px;
  height: 80px;
  background-image: linear-gradient(-180deg, transparent, #000 50%, transparent 50%, transparent);
  background-repeat: no-repeat;
  background-size: 100% 200%;
  animation-name: scroll-down;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1);

  /* easeOutQuintのイージング */
  animation-delay: 0.7s;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
  margin: 0 auto;
  bottom: 10px;
  position: absolute;
  left: calc(50% - 1px);
}

@keyframes scroll-down {
  0% {
    background-position: 0 100%;
  }

  50% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 -100%;
  }
}